@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  html,
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
    user-select: none;
  }
  h1 {
    @apply text-[30px] sm:text-[40px] md:text-[46px] lg:text-[50px] xl:text-[56px];
  }
  h2 {
    @apply text-[28px] sm:text-[36px];
  }
  h3 {
    @apply text-[26px] lg:text-[32px];
  }
  h4 {
    @apply text-[24px];
  }
  h5 {
    @apply text-[22px];
  }
  h6 {
    @apply text-[18px];
  }
  a {
    @apply text-[18px] xl:text-[20px] text-neon font-bold relative;
  }
  p {
    @apply text-[1rem];
  }
}

@layer utilities {
  .app {
    @apply min-h-screen w-full bg-alice dark:bg-eerie transition-all ease-in-out duration-700 flex flex-col justify-center items-center;
  }
  .nav-link-effect {
    @apply after:absolute after:bottom-[-4px] after:left-0 after:content-[''] after:w-0 after:h-[3px] after:bg-neon hover:after:w-full after:duration-500 after:ease-in-out;
  }
  .home-title {
    @apply font-bold text-neon text-left sm:text-center;
  }
  .home-subtitle {
    @apply font-semibold text-rich dark:text-alice transition-all ease-in-out duration-700 w-[80%] md:w-[650px] text-left sm:text-center;
  }
  .about-section {
    @apply w-full min-h-screen py-36 lg:pt-40 flex flex-col gap-y-24 md:gap-y-36 lg:gap-y-44 justify-center sm:items-center;
  }
  .about-title {
    @apply text-neon font-semibold transition-all ease-in-out duration-700;
  }
  .about-description {
    @apply text-rich dark:text-alice text-left sm:text-justify font-medium transition-all ease-in-out duration-700;
  }
  .about-benefits-box {
    @apply bg-aliceBlue dark:bg-black w-[320px] h-[170px] p-[0rem_0.75rem] flex flex-col items-start justify-evenly rounded-[4px] transition-all ease-in-out duration-700 shadow-[1px_1px_8px_2px_rgba(0,0,0,0.1)];
  }
}
